.headerMobile {
    display: none;

    @include maxWidth(991) {
        display: flex;
    }

    padding-top: 1rem;
    padding-bottom: 1rem;

    &__icon {
        width: 70px;

        &-link {
            &--image {}
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;

        &-icon {
            &--image {
                @include fontSizeManagement("BIG-HIGHER");

                &:visited {
                    animation: hover_effect_text .3s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    &__submMenuWrap {
        display: none;
        position: fixed;
        top: 1%;
        right: 0;
        z-index: 4;
        &-title{
            &--text{}
        }
        &-form {
            &--search {}

            &--button {
                &---icon {}
            }
        }
        &-item{
            &--icon{
                &---image{}
            }
            &--content{}
        }
    }
    .active {
        display: block !important;
    }
   
}
