$ROBOTO-BOLD: "Roboto-Bold";
$ROBOTO-MEDIUM: "Roboto-Medium";
$ROBOTO-REGULAR: "Roboto-Regular";

$COLOR_333333: #333333;

// $primary_color: var(--color-1st);
// $primary_color_text: var(--color-text);

$blue_color: #0c243c;
$blue_dank_color: #081727;
$gray_color: #47596b;
$gray_light: #bebebe;
$black_color: black;