//Fonts:
$ROBOTO-BOLD: "Roboto-Bold";
$ROBOTO-MEDIUM: "Roboto-Medium";
$ROBOTO-REGULAR: "Roboto-Regular";
//Color
$primary_color: var(--primary_color);
$primary_color_hover: var(--primary_color_hover);
$primary_color_text: var(--primary_color_text);
$primary_color_text_hover: var(--primary_color_text_hover);