
.client_logo {
    .item {
        .cl_logo {
            img {
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
            }
            &:hover{
                img{
                    filter: grayscale(100%) brightness(130%);
                    -webkit-filter: grayscale(100%) brightness(130%);
                    -moz-filter: grayscale(100%) brightness(130%);
                }
            }
        }
    }
}
